<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-9 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            My Profil
          </h3>
        </div>
        <div class="card-body linear-gradient2">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div (click)="copyMessage(id);idCopied()" popover="Id copied">
                    <label for="id"><b> Sponsorship link</b> <sub> Click once to copy</sub></label>
                    <input type="text" class="form-control" placeholder="Your Id Your will be generated soon."
                      value="localhost:4200/#/register/{{id}}" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Email</b></label>
                  <input type="text" class="form-control" placeholder="Email" value="{{email}}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Network</b></label>
                  <input type="text" class="form-control" placeholder="Network" value="{{network}}" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Phone</b></label>
                  <input type="number" class="form-control" placeholder="Phone number" value="{{phone}}" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label><b>Country</b></label>
                  <input type="text" class="form-control" placeholder="Country" value="{{country}}" disabled>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label><b>City</b></label>
                  <input type="text" class="form-control" placeholder="City" value="{{userCity}}" disabled>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label><b>Sponsor ID</b></label>
                  <input type="number" class="form-control" placeholder="No sponsorship" value="{{sponsorshipId}}"
                    disabled>
                </div>
              </div>
            </div><br>
            <p>For security reasons, we reserve the right to change information to the administrator only. To change
              your information, please contact him at contact.momo.cion@gmail.com with your current address.</p>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>