<p class="text-left"><strong>{{label}}</strong></p>
<div class="card card mb-4 c2">
    <strong class="text-center">Add files</strong>
    <hr class="line-separator">
    <div class="ml-2 mr-2">
        <mat-chip-list #chipList class="mat-chip-list-stacked" aria-orientation="vertical">
            <mat-chip *ngFor="let item of nbInputFile" selectable="false" removable="true" (removed)="remove()">
                <app-input-file-upload [accept]="accept"></app-input-file-upload>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="mb-2 text-right">
        <!-- EDIT button -->
        <a class="btn  manage-button manage-button2  black-text" (click)="addDoc()">
            <strong>ADD other</strong>
        </a>
    </div>

</div>