<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-7">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">
            Add vehicle for packages transport</h3>
        </div>
        <div class="card-body">
          <div class="container cont2">
            <form  [formGroup]="vehicleForm" (ngSubmit)="submit()" class="text-center p-2">
              <div class="form-row mb-4">
                <div class="col">
                  <input type="text" id="field_brand" formControlName="field_brand" class="form-control field-form1 field"
                    placeholder="Brand">
                  <p class="title-form sub-indication text-left">Vehicle Brand</p>
                </div>
                <div class="col">
                  <input type="text" id="field_model" formControlName="field_model" class="form-control field-form1 field"
                    placeholder="Model">
                  <p class="title-form sub-indication text-left">Vehicle Model</p>
                </div>
                <div class="col">
                  <div class="form-row mb-3">
                    <div class="col">
                      <select id="field_type" formControlName="field_type" class="form-control field-form1 field">
                        <option selected>Type</option>
                        <option value="Bike">Bike</option>
                        <option value="Car">Car</option>
                        <option value="Truck">Truck</option>
                        <option value="Bus">Bus</option>
                      </select>
                      <p class="title-form sub-indication text-left">Vehicle Type</p>
                    </div>
                    <div class="col">
                      <select id="field_numberSeat" formControlName="field_numberSeat" class="form-control field-form1 field">
                        <option selected>Number</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="70">70</option>
                      </select>
                      <p class="title-form sub-indication text-left">Number of seats</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row mb-4">
                <div class="form-group row">
                  <div class="col-md-9">
                    <input type="file" id="field_fieles" formControlName="field_fieles" name="file-multiple-input" multiple>
                    <p class="title-form sub-indication text-left">Add one or multiple vehicle Fil</p>
                  </div>
                </div>
                <div class="col">
                  <div class="form-row mb-4">
                    <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
                    <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
                    <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
                  </div>
                  <p class="title-form sub-indication text-left">Add images of vehicle</p>
                </div>
              </div>
              <!-- row-item-->


              <!-- row-item-->
              <div class="form-row form-group shadow-textarea m2">
                <label for="exampleFormControlTextarea6">More description</label>
                <textarea class="form-control field-form2 z-depth-1" id="field_description" formControlName="field_description" rows="3"
                  placeholder="Tell us a little bit more about your vehicle."></textarea>
              </div>
              <!-- row-item-->

            </form>
            <!-- Default form register -->
            <div *ngIf="!submitted" class="text-right"> <button type="button" class="btn next-button btn-weith" (click)="submit()">Submit</button></div>
            <app-progress-indeterminate *ngIf="submitted" ></app-progress-indeterminate>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-5">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">
            Vehicles list</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm" (click)="showNotification('top','center', 'danger', 'pe-7s-close-circle', '\<b>Sorry\</b>\<br>This service was not available now. Tray later.')">
            <thead>
              <tr>
                <th>Status</th>
                <th>Type</th>
                <th>Name</th>
                <th>Brand</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of listVehicle">
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
                <td>{{v.field_type}}</td>
                <td>{{v.field_name}}</td>
                <td>{{v.field_marque}}</td>
              </tr>
             
            </tbody>
          </table>
          <nav>
            <ul class="pagination pull-right">
              <li class="page-item"><a class="page-link">Prev</a></li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>


  </div>
</div>