<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <div class="card">
          <div class="card-header linear-gradient">
            <h3 class="text-center mx-4 mb-2">
              Available Packs</h3>
          </div>
          <div class="card-body linear-gradient2">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th><b> Network</b></th>
                  <th><b>Amount</b></th>
                  <th><b>Period</b></th>
                  <th><b>...<i class="fa fa-shopping-cart center"></i></b></th>
                </tr>
              </thead>
            </table><br>
            <h3 id="blink" class="text-center mx-4 mb-2" style="color: #000;">Please wait for the next market opening.</h3><br>
            <img class="displayed" src="../../../../../assets/img/wait.gif" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>