<hr size="3px">
<h3 class="text-center mx-4" style="color: rgba(87, 60, 20, 0.968);">Your purchases</h3>
<hr size="3px">
<div class="row" *ngIf="packs.length>0">
    <div *ngFor="let pack of packs" class="col-sm-3 order-xl-1">
        <div class="card">
            <div class="card-header linear-gradient">
                <h3 class="text-center mx-4 mb-2">
                    {{ pack.pack.amount }} MCoins</h3>
            </div>
            <div class="card-body text-center">
                <!-- investment <b>{{ pack.pack.amount }} FCFA</b> <br> -->
                purchase day: <b>{{ pack.pack.payDate }} </b><br>
                Plan: <b>5{{ pack.pack.plan }} days</b><br>
                sale day: <b>{{ pack.pack.saleDate }}</b>
            </div>
            <div class="card-footer">
                <h3 class="text-center mx-4 mb-2">
                    Working ...</h3>
            </div>
        </div>
    </div>
</div>
<div *ngIf="packs.length==0">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-md-12">
                <div class="card">
                    <div class="card-body text-center linear-gradient2">
                        <app-spinner></app-spinner><br>
                        No packs on market ?
                        <h3 id="blink" class="mx-4 mb-2" style="color: #000;">Invest in new packages on the market..</h3><br>
                        <br><br>
                        <h3 class="text-center mx-4 mb-2">
                            <a routerLink="/market/open" style="color: black;">
                                <i class="fa fa-arrow-left"></i> Go to market
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>