<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-9 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            My Profil
          </h3>
        </div>
        <div class="card-body linear-gradient2">
          <form [formGroup]="updateProfilForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b> Name</b></label>
                  <input type="text"
                    formControlName="name" 
                    class="form-control" 
                    placeholder="null" 
                    value="{{name}}"
                    [(ngModel)]="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Email</b></label>
                  <input type="text"
                    formControlName="useremail" 
                    class="form-control" 
                    placeholder="Email" 
                    value="{{useremail}}"
                    [(ngModel)]="useremail"
                    [ngClass]="{ 'is-invalid': submitted && f.useremail.errors }">
                    <div *ngIf="submitted && f.useremail.errors" class="invalid-feedback">
                        <div *ngIf="f.useremail.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Network</b></label>
                  <input type="text"
                    formControlName="network" 
                    class="form-control" 
                    placeholder="Network" 
                    value="{{network}}"
                    [(ngModel)]="network"
                    [ngClass]="{ 'is-invalid': submitted && f.network.errors }">
                    <div *ngIf="submitted && f.network.errors" class="invalid-feedback">
                        <div *ngIf="f.network.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Phone</b></label>
                  <input type="number" 
                    formControlName="phone" 
                    class="form-control" 
                    placeholder="Phone number" 
                    value="{{phone}}"
                    [(ngModel)]="phone"
                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label><b>Country</b></label>
                  <input type="text"
                    formControlName="userCountry" 
                    class="form-control" 
                    placeholder="Country" 
                    value="{{userCountry}}"
                    [(ngModel)]="userCountry"
                    [ngClass]="{ 'is-invalid': submitted && f.userCountry.errors }">
                    <div *ngIf="submitted && f.userCountry.errors" class="invalid-feedback">
                        <div *ngIf="f.userCountry.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label><b>City</b></label>
                  <input type="text"
                    formControlName="userCity" 
                    class="form-control" 
                    placeholder="City" 
                    value="{{userCity}}"
                    [(ngModel)]="userCity"
                    [ngClass]="{ 'is-invalid': submitted && f.userCity.errors }">
                    <div *ngIf="submitted && f.userCity.errors" class="invalid-feedback">
                        <div *ngIf="f.userCity.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label><b>Sponsorship ID</b></label>
                  <input type="number"
                    formControlName="sponsorshipId"
                    class="form-control" 
                    placeholder="Sponsorship ID" 
                    value="{{sponsorshipId}}"
                    [(ngModel)]="sponsorshipId"
                    [ngClass]="{ 'is-invalid': submitted && f.sponsorshipId.errors }">
                    <div *ngIf="submitted && f.sponsorshipId.errors" class="invalid-feedback">
                        <div *ngIf="f.sponsorshipId.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-fill pull-right" disabled>Update</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>



  </div>
</div>
