<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-9 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            My Profil
          </h3>
        </div>
        <div class="card-body linear-gradient2">
          <form [formGroup]="updateProfilForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text"
                    formControlName="userName" 
                    class="form-control" 
                    placeholder="null" 
                    value="{{userName}}"
                    [(ngModel)]="userName"
                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" 
                    formControlName="firstName" 
                    class="form-control" 
                    placeholder="First Name" 
                    value="{{firstName}}"
                    [(ngModel)]="firstName"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" 
                    formControlName="lastName" 
                    class="form-control" 
                    placeholder="Last Name" 
                    [(ngModel)]="lastName"
                    value="{{lastName}}"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="number" 
                    formControlName="userPhone" 
                    class="form-control" 
                    placeholder="Phone number" 
                    value="{{userPhone}}"
                    [(ngModel)]="userPhone"
                    [ngClass]="{ 'is-invalid': submitted && f.userPhone.errors }">
                    <div *ngIf="submitted && f.userPhone.errors" class="invalid-feedback">
                        <div *ngIf="f.userPhone.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text"
                    formControlName="userAddress" 
                    class="form-control" 
                    placeholder="Home Address" 
                    value="{{userAddress}}"
                    [(ngModel)]="userAddress"
                    [ngClass]="{ 'is-invalid': submitted && f.userAddress.errors }">
                    <div *ngIf="submitted && f.userAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.userAddress.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text"
                    formControlName="userCountry" 
                    class="form-control" 
                    placeholder="Country" 
                    value="{{userCountry}}"
                    [(ngModel)]="userCountry"
                    [ngClass]="{ 'is-invalid': submitted && f.userCountry.errors }">
                    <div *ngIf="submitted && f.userCountry.errors" class="invalid-feedback">
                        <div *ngIf="f.userCountry.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>City</label>
                  <input type="text"
                    formControlName="userCity" 
                    class="form-control" 
                    placeholder="City" 
                    value="{{userCity}}"
                    [(ngModel)]="userCity"
                    [ngClass]="{ 'is-invalid': submitted && f.userCity.errors }">
                    <div *ngIf="submitted && f.userCity.errors" class="invalid-feedback">
                        <div *ngIf="f.userCity.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number"
                    formControlName="userZip"
                    class="form-control" 
                    placeholder="ZIP Code" 
                    value="{{userZip}}"
                    [(ngModel)]="userZip"
                    [ngClass]="{ 'is-invalid': submitted && f.userZip.errors }">
                    <div *ngIf="submitted && f.userZip.errors" class="invalid-feedback">
                        <div *ngIf="f.userZip.errors.required">This field is required</div>
                    </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-fill pull-right" disabled>Update</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>



  </div>
</div>
