<div class="animated fadeIn">
  <a routerLink="/admin" class="btn btn-link">
    <i class="fa fa-arrow-left"></i> Back to menu
  </a>
  <div class="row">
    <div class="col-md-6 text-right">
      <a routerLink="/admin/list-user" class="btn btn-success" style="background-color: rgb(172, 88, 14) !important;"><i class="fa fa-user"></i> Users</a>
    </div>
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="row linear-gradient2">
          <div class="col-md-6">
            <h1>List of Pack</h1>
          </div>
          <div class="col-md-6 text-right">
            <a routerLink="/admin/add-pack" class="btn btn-success" style="background-color: green !important;"><i class="fa fa-plus"></i></a>
          </div>
        </div>

        <div class="row linear-gradient2">
          <div class="col-md-12">
            <input (keyup)="searchPack()" [(ngModel)]="search" type="text" class="form-control" placeholder="Search...">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Amount</th>
                  <th>Next Amount</th>
                  <th>payDate</th>
                  <th>saleDate</th>
                  <th>buyState</th>
                  <th>plan</th>
                  <th>idOwner</th>
                  <th>idBuyer</th>
                  <th>state</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="searchPacks.length>0">
                <tr *ngFor="let pack of searchPacks" [ngClass]="{'table-success': pack.pack.state=='on_market',
                                                          'table-danger' : pack.pack.state=='not_on_market'}">
                  <td>
                    <button [ngClass]="{'b-danger': pack.pack.state=='on_market',
                                  'b-success' : pack.pack.state=='on_market'}" (click)="changeStatusMarket(pack)" class="btn btn-sm btn-danger">
                      <i *ngIf="!pack.waitResponse" class="fa fa-power-off"></i>
                      <app-spinner *ngIf="pack.waitResponse" ></app-spinner>
                    </button>
                  </td>
                  <td>{{ pack.pack.amount }}</td>
                  <td>{{ pack.pack.nextAmount }}</td>
                  <td>{{ pack.pack.payDate }}</td>
                  <td>{{ pack.pack.saleDate }}</td>
                  <td>{{ pack.pack.getBuyState() }}</td>
                  <td>{{ pack.pack.plan }}</td>
                  <td>{{ pack.pack.idOwner }}</td>
                  <td>{{ pack.pack.idBuyer }}</td>
                  <td>{{ pack.pack.state }}</td>
                  <td class="text-right">
                    <button (click)="deletePack(pack.pack.id)" class="btn btn-sm btn-warning" style="background-color: rgb(223, 31, 31) !important;">
                      <i class="fa fa-trash-o" aria-hidden="true" style="color: cornsilk;"></i>
                    </button>
                    <br>
                    <a [routerLink]="['/edit',pack.pack.id]" (click)="editpack(pack.pack.id)" class="btn btn-sm btn-info"
                      style="background-color: rgb(39, 111, 235) !important;">
                      <i class="fa fa-pencil" style="color: cornsilk;"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="searchPacks.length==0">
                <tr >
                  <td colspan="11">
                    <div class="d-flex justify-content-center"><app-spinner></app-spinner></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>