<div class="row">
  <div class="col-md-6">
    <h1>New User</h1>
  </div>
  <div class="col-md-6 text-right">
    <a routerLink="/admin/list-user" class="btn btn-link">
      <i class="fa fa-arrow-left"></i> Back to list
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
      <div class="form-group">
        <label for="name">Name</label>
        <input ngModel name="name" id="name" type="text" required class="form-control"
          [ngClass]="{'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-danger">
          <div *ngIf="f.name.errors.required">name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          name="password" id="password" type="text" required class="form-control"
          [ngClass]="{'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-danger">
          <div *ngIf="f.password.errors.required">password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="network">Network</label>
        <input name="network" required id="network" type="number" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.network.errors }">
        <div *ngIf="submitted && f.network.errors" class="invalid-feedback text-danger">
          <div *ngIf="f.network.errors.required">network is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Phone">Phone</label>
        <input ngModel name="phone" id="phone" type="text" required class="form-control"
          [ngClass]="{'is-invalid': submitted && f.phone.errors }">
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback text-danger">
          <div *ngIf="f.phone.errors.required">phone is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" [ngClass]="{'is-invalid': email.touched && email.invalid}" required id="email" type="text"
          class="form-control" [ngClass]="{'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
          <div *ngIf="f.email.errors.required">email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input name="country" required id="country" type="text" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.country.errors }">
        <div *ngIf="submitted && f.country.errors" class="invalid-feedback text-danger">
          <div *ngIf="f.country.errors.required">country is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input name="city" required id="city" type="text" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.city.errors }">
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback text-danger">
          <div *ngIf="f.city.errors.required">city is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="sponsorshipId">Sponsorship Id</label>
        <input name="sponsorshipId" required id="sponsorshipId" type="text" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus"></i></button>
    </form>
  </div>
</div>