<app-nav-bar></app-nav-bar>

<div class="imag">
    <div class="container">
        <div class="row">
            <div class="col-md-5 bg-white my-5"
                style="margin-right: auto; margin-left: auto; border-radius: 15px; background-color: rgba(10, 10, 10, 0.82) !important; color: white;">
                <div class="p-4"
                    style="margin-bottom: 20px; margin-top: 20px; text-align: center; border-bottom: 1px solid gray;">

                    <h3 style="font-size: 20px;"><b>Forgot password</b></h3>
                </div>
                Enter your email address and we will send you a link to reset your password.<br><br>
                <form>
                    <div class="form-group">
                        <input type="text" formControlName="email" placeholder="Enter Your Email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.email.errors.required">Field is required</div>
                        </div>
                    </div>
                    <span class="pull-right">
                        <input type="submit" class="btn btn-warning" value="Send mail">
                    </span>
                </form><br><br><br>
                <p>
                    <br><br><br><br><br><br>
                    <a href="javascript:void(0)" (click)="navigateToRegister()">Create an account?</a>
                </p>
            </div>
        </div>
    </div>
</div>

<app-front-footer></app-front-footer>