<app-nav-bar></app-nav-bar>
<br><br><br><br><br><br>
<!-- Start your project here-->

<div class="container text-center c">
  <div class="row container-not-magin">


    <div class="col-sm">
      <div class="container">
        <div class="text-left contener2">
          <h2>Why Choose us ?</h2>
          <p>
            About 64% of all on-line teens say that do things online that they would'nt want their parents to know
            about.
            11% of all adult internet users visit dating websites and spend their time in chatrooms.
          </p>

          <hr class="sparator text-left">

          <div class="row">
            <div class="col-sm media">
              <i class="fas fa-user-circle fa-3x jaune mx-4"></i>
              <div class="media-body my-3">
                <strong>Customer satisfaction</strong>
                <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm media">
              <i class="fas fa-chart-bar fa-3x jaune mx-4"></i>
              <div class="media-body my-3">
                <strong>Management Reporting</strong>
                <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm media">
              <i class="fas fa-shopping-cart fa-3x jaune mx-4"></i>
              <div class="media-body my-3">
                <strong>Freight Payment Solution</strong>
                <p class="text-icon">12 Handy Tips for Generating Leads Through Cold Calling</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm Commitment">
      <div class="container">
        <div class="text-center view">
          <img class="image-back img-fluid" src="assets/img/bg_side_4-1.jpg" alt="image">
          <div class="mask mask-margin">
            <div class="card card-back text-left">
              <h3 class="card-title jaune my-4 content-card">KarrynGo Commitment</h3>
              <hr>
              <p class="white-text content-card mx-4">
                We are commited to be the leading logistic solution provider to our customer. We continually
                improving & implementing a quality management to achieve it.
              </p>
              <img class="mx-4 signature img-fluid" src="assets/img/signature.png" alt="Signature">
              <p class="white-text content-card mx-4">ANSELME NANA</p>
              <p class="yellow-text content-card mx-4">CEO KarrynGo</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <i class="fa fa-facebook"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData1" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">89k</div>
            <div class="text-uppercase text-muted small">friends</div>
          </div>
          <div>
            <div class="text-value">459</div>
            <div class="text-uppercase text-muted small">feeds</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <i class="fa fa-twitter"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData2" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">973k</div>
            <div class="text-uppercase text-muted small">followers</div>
          </div>
          <div>
            <div class="text-value">1.792</div>
            <div class="text-uppercase text-muted small">tweets</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <i class="fa fa-linkedin"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData3" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">500+</div>
            <div class="text-uppercase text-muted small">contacts</div>
          </div>
          <div>
            <div class="text-value">292</div>
            <div class="text-uppercase text-muted small">feeds</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus">
          <i class="fa fa-google-plus"></i>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData4" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">894</div>
            <div class="text-uppercase text-muted small">followers</div>
          </div>
          <div>
            <div class="text-value">92</div>
            <div class="text-uppercase text-muted small">circles</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<!-- / Social -->


<div class="row container-not-magin container1">

  <div class="col-sm">
    <div class="container">
      <div class="text-center container3">
        <h1>Your are a shipper/Carrier</h1>
        <p class="title-form">KNOW YOUR INNER POWER</p>
        <button class="text-center btn btn-black register-button" (click)="registration()">REGISTER</button>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="container">
      <div class="text-center container3">
        <h3>What do they say about us ?</h3>
        <div class="row">
          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">


            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">
                <!--circle image-->
                <div class="media mx-4">
                  <img class="profile rounded-circle border border-dark" alt="100x100" src="assets/img/Omari_edit.jpg"
                    data-holder-rendered="true">
                  <div class="media-body">
                    <i class="fas fa-quote-left fa-2x"></i>
                    <span class="title-form carousel-text">3 SMART REASONS WHY YOU SHOULD CONSIDER PAYING FOR YOUR
                      TRAFIC</span>
                    <i class="fas fa-quote-right fa-2x"></i>
                    <div class="my-4 text-left">
                      <p class="description-profil">THSEPO AUGUSTINE</p>
                      <span class="title-form ">CEO Malaba Cars</span>
                    </div>
                  </div>
                </div>
                <!--circle image-->
              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">
                <!--circle image-->
                <div class="media mx-4">
                  <img class="profile rounded-circle border border-dark" alt="100x100" src="assets/img/Omari_edit.jpg"
                    data-holder-rendered="true">
                  <div class="media-body">
                    <i class="fas fa-quote-left fa-2x"></i>
                    <span class="title-form carousel-text">3 SMART REASONS WHY YOU SHOULD CONSIDER PAYING FOR YOUR
                      TRAFIC</span>
                    <i class="fas fa-quote-right fa-2x"></i>
                    <div class="my-4 text-left">
                      <p class="description-profil">THSEPO AUGUSTINE</p>
                      <span class="title-form ">CEO Malaba Cars</span>
                    </div>
                  </div>
                </div>
                <!--circle image-->
              </div>
              <!--/.Second slide-->

              <!--Third slide-->
              <div class="carousel-item">
                <!--circle image-->
                <div class="media mx-4">
                  <img class="profile rounded-circle border border-dark" alt="100x100" src="assets/img/Omari_edit.jpg"
                    data-holder-rendered="true">
                  <div class="media-body">
                    <i class="fas fa-quote-left fa-2x"></i>
                    <span class="title-form carousel-text">3 SMART REASONS WHY YOU SHOULD CONSIDER PAYING FOR YOUR
                      TRAFIC</span>
                    <i class="fas fa-quote-right fa-2x"></i>
                    <div class="my-4 text-left">
                      <p class="description-profil">THSEPO AUGUSTINE</p>
                      <span class="title-form ">CEO Malaba Cars</span>
                    </div>
                  </div>
                </div>
                <!--circle image-->
              </div>
              <!--/.Third slide-->

            </div>
            <!--/.Slides-->

          </div>
          <!--/.Carousel Wrapper-->

        </div>
      </div>
    </div>
  </div>
</div>

<app-front-footer></app-front-footer>
