<!-- Footer -->
<footer class="page-footer font-small footer pt-4  mdl-mega-footer" style="background-color: black !important;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3  mt-3">
        <!-- <h6 class="text-uppercase mb-4 font-weight-bold">
          <a href="index.html">
            <img class="logo" src="assets/img/logo.png" alt="momo-coin">
          </a>
        </h6>
        <p>
          <i class="fas fa-envelope fa-2x mr-3 jaune"></i> contact.momo-coin@gmail.com
        </p>
        <p>
          <i class="fas fa-mobile-alt fa-2x mr-3 jaune"></i> +237 730 115 992
        </p> -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="mb-4">About</h5>
        <a routerLink="/login">
          <p class="jaune">ABOUT US</p>
        </a>
        <a routerLink="/login">
          <p class="jaune">HOW IT WORK</p>
        </a>
        <a routerLink="/login">
          <p class="jaune">SECURITY</p>
        </a>
        <a routerLink="/login">
          <p class="jaune">QUOTES</p>
        </a>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="mb-4">Terms</h5>
         <a routerLink="/login">
          <p class="jaune">PRIVACY POLICY</p>
        </a>
        <a routerLink="/login">
          <p class="jaune">TERMS & CONDITIONS</p>
        </a>
        <a routerLink="/login">
          <p class="jaune">COPYRIGHT POLICY</p>
        </a>
        <a routerLink="/login">
          <p class="jaune">CODE OF CONDUCT</p>
        </a>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center my-4">
          </div>

        </div>
        <!-- Grid column -->

      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

    </div>
    <!-- Footer links -->

    <hr>
  </div>
  <!-- Footer Links -->

  <!-- Grid row -->
  <div class="d-flex align-items-center bottom-footer">

    <!-- Grid column -->
    <div class="col-md-10 col-lg-11">

      <!--Copyright-->
      <p class="text-md-right">© 2021 Copyright:
        <a href="#">
          <strong> momo-coin</strong>
        </a>
      </p>

    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</footer>
<!-- Footer -->
