.btn-weith {
  width: 20%;
}
.cont-margin {
  padding-bottom: 2%;
  padding-top: 5%;
  padding-right: 4%;
  padding-left: 4%;
}
.div-detail {
  background-color: rgb(223, 221, 221);
  padding: 2%;
}
.mag {
  margin-left: 2%;
  margin-right: 24%;
}
