<app-nav-bar></app-nav-bar>

<!-- Start your project here-->
<div class="container container-global cont-margin">
  <h3 class="jaune text-left">Trip Number CR-45665378</h3>
  <div class="div-border2">
    <div class="row">
      <div class="col">
        <div>
          <p class="mb-1">Departure</p>
          <h4>Yaounde-CM</h4>
        </div>
        <div class="mt-4">
          <p class="mb-1">Departure Time</p>
          <h4>12-05-2019</h4>
        </div>
        <div class="mt-4">
          <p class="mb-1">Service Type</p>
          <h4>Trucks</h4>
        </div>
      </div>
      <div class="col">
        <div>
          <p class="mb-1">Arrival</p>
          <h4>Douala-CM</h4>
        </div>
        <div class="mt-4">
          <p class="mb-1">Trip Duration</p>
          <h4>2 Days</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="div-border2 mt-4">
    <div class="row">
      <div class="col">
        <div>
          <p class="mb-1">Total Weight Capacity</p>
          <h4>1700 Kg</h4>
        </div>
        <div class="mt-4">
          <p class="mb-1">Total Volume Capacity</p>
          <h4>3000 m3</h4>
        </div>
      </div>
      <div class="col">
        <div>
          <p class="mb-1">Weight Available</p>
          <h4>1200 Kg</h4>
        </div>
        <div class="mt-4">
          <p class="mb-1">Est Available Volume</p>
          <h4>1000 m3</h4>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <p class="mb-0">Volume Detail</p>
      <div class="row div-detail ml-2 mr-2">
        <div class="col">
          <div>
            <p class="mb-1">Max Height</p>
            <p>15 m</p>
          </div>
          <div class="mt-4">
            <p class="mb-1">Max Depth</p>
            <p>10 m</p>
          </div>
        </div>
        <div class="col">
          <div>
            <p class="mb-1">Max Width</p>
            <p>20 m</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div-border2 mt-4">
    <div class="row">
      <div class="col">
        <p class="mb-1">Trucks</p>
        <h4>Mercedes Benz Actros</h4>
        <div class="">
          <i class="fas fa-plus-square fa-6x img-plus"></i>
          <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
          <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
          <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
          <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="div-border2 mt-4">
    <div class="row">
      <div class="col-3 text-center">
        <div>
          <i class="fas fa-user-circle fa-10x user-profil"></i>
        </div>
        <div>
          <span>
            <span class="badge material-icons-profil black-text jaune">4.5</span>
            <i class="fas fa-star jaune"></i>
            <i class="fas fa-star jaune"></i>
            <i class="fas fa-star jaune"></i>
            <i class="fas fa-star jaune"></i>
          </span>
        </div>
      </div>
      <div class="col-9">
        <p class="mb-1">By</p>
        <h4 class="mb-1">Henry Ford</h4>
        <p class="mb-1">Cameroon</p>
        <p class="mb-1">Transport of persons, Bikes, Car, Trucks</p>
        <p>55 Trip managed by this user/enterprise</p>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="row">
      <button type="button" class="btn btn-weith mag">GO BACK</button>
      <button type="button" class="btn next-button btn-weith">BOOK</button>
    </div>
  </div>
</div>
<!-- Start your project here-->

<app-front-footer></app-front-footer>
