<mat-form-field class="example-chip-list">
  <mat-label>{{label}}</mat-label>
  <mat-chip-list #chipList aria-label="Location selection">
    <mat-chip
      *ngFor="let location of selectedLocation"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(location)">
      {{location.getStringZone()}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="placeholder"
      #locationInput
      [formControl]="locationCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let location of filteredLocation" [value]="location.getStringZone()">
      {{location.getStringZone()}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>