<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-3 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            Coin Balance</h3>
        </div>
        <div class="card-body text-center linear-gradient">
          <div class="chart-wrapper">
            <h3 class="mx-4"><b> {{balence}}</b></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            Bonus Balance</h3>
        </div>
        <div class="card-body text-center linear-gradient">
          <div class="chart-wrapper">
            <h3 class="mx-4"><b>{{bonusBalence}}</b></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            All users</h3>
        </div>
        <div class="card-body text-center linear-gradient">
          <div class="chart-wrapper">
            <h3 class="mx-4"><b>{{stockholders}}</b></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            Online users</h3>
        </div>
        <div class="card-body text-center linear-gradient">
          <div class="chart-wrapper">
            <h3 class="mx-4"><b>{{activeUser}}</b></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 order-xl-1">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            Social groups</h3>
        </div>
        <a href="https://t.me/joinchat/4jY9U7bkumBlOTU0">
          <div class="card-body text-center linear-gradient">
            <input type="text" class="mx-4" value="https://t.me/joinchat/4jY9U7bkumBlOTU0">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>