<div class="row">
    <div class="col-4">
        <mat-card [routerLink]="['/admin/user-panel']">
            <div class="row text-center">
                <div class="col-12 mb-3">
                    <i class="fa fa-users "></i>
                </div>
                <div class="col-12"><p class="text-description">Users</p></div>                
            </div>    
        </mat-card>             
    </div>

    <div class="col-4">
         <mat-card  [routerLink]="['/admin/packs-panel']">
            <div class="row text-center">
                <div class="col-12 mb-3">
                    <i class="fa fa-box-open "></i>
                </div>
                <div class="col-12"><p class="text-description">Packs</p></div>                
            </div>    
        </mat-card>
    </div>

    <div class="col-4">
        <mat-card  [routerLink]="['/admin/setting-panel']">
           <div class="row text-center">
               <div class="col-12 mb-3">
                   <i class="fas fa-tools "></i>
               </div>
               <div class="col-12"><p class="text-description">Settings</p></div>                
           </div>    
       </mat-card>
   </div>
</div>
