<form [formGroup]="packageForm" (ngSubmit)="submit()" class="text-center p-1 form-horizontal">

  <div *ngIf="!submitted">
    <!-- Package Details-->
    <h4 class="mb-2 text-left title-form">Details</h4>
    <!-- row-item-->
    <br>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-md-12">
          <input type="text" id="field_name" formControlName="field_name" class="form-control" placeholder="Parcel Name"
            [ngClass]="{ 'is-invalid': submitted && f.field_name.errors }">
          <div *ngIf="submitted && f.field_name.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_name.errors.required">Field is required</div>
          </div>
        </div>
      </div>
      <div class="form-row mb-2">
        <div class="col">
          <app-search-location label="Start location" placeholder="" #fromZone></app-search-location>
        </div>
        <div class="col">
          <app-search-location label="End location" placeholder="" #toZone></app-search-location>
        </div>
      </div>
      <!-- row-item-->
      <div class="form-group row">
        <div class="col-md-6">
          <input type="text" id="field_recipientName" formControlName="field_recipientName" class="form-control"
            placeholder="Recipient Name" [ngClass]="{ 'is-invalid': submitted && f.field_recipientName.errors }">
          <div *ngIf="submitted && f.field_recipientName.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_recipientName.errors.required">Field is required</div>
          </div>
          <p class="title-form sub-indication text-left">If it's you, leave blank</p>
        </div>
        <div class="col-md-6">
          <input type="text" id="field_recipientContact" formControlName="field_recipientContact" class="form-control"
            placeholder="Recipient contact" [ngClass]="{ 'is-invalid': submitted && f.field_recipientContact.errors }">
          <div *ngIf="submitted && f.field_recipientContact.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_recipientContact.errors.required">Field is required</div>
          </div>
          <p class="title-form sub-indication text-left">If it's you, leave blank</p>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <select id="field_typeof" formControlName="field_typeof" class="form-control">
            <option value="documents">Documents</option>
            <option value="smallPackage" selected>Small Parcel</option>
            <option value="bigPackage">Big Parcel</option>
          </select>
          <p class="title-form sub-indication text-left">Type</p>
        </div>
        <div class="col-md-4">
          <label for="isWeak">is fragile</label>
          <input type="checkbox" id="field_isWeak" formControlName="field_isWeak" class="form-control checkbox">
        </div>
        <div class="col-md-4">
          <label for="isUrgent">is urgent</label>
          <input type="checkbox" id="field_isUrgent" formControlName="field_isUrgent" class="form-control checkbox">
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-md-5">
          <select id="field_vehicleType" formControlName="field_vehicleType" class="form-control">
            <option value="bike">Bike</option>
            <option value="car">car</option>
            <option value="truck">Truck</option>
          </select>
        </div>
      </div> -->
      <div class="form-group row">
        <div class="col-md-3">
          <input type="number" id="weightPackage" formControlName="field_weightPackage" class="form-control"
            placeholder="Weight">
          <p class="title-form sub-indication text-left">weight (kg)</p>
        </div>
        <div class="col-md-3">
          <input type="number" id="field_heightPackages" formControlName="field_heightPackages" class="form-control"
            placeholder="Height">
          <p class="title-form sub-indication text-left">Height (cm)</p>
        </div>
        <div class="col-md-3">
          <input type="number" id="field_widhtPackage" formControlName="field_widhtPackage" class="form-control"
            placeholder="Widht">
          <p class="title-form sub-indication text-left">Widht (cm)</p>
        </div>
        <div class="col-md-3">
          <input type="number" id="field_lengthPackage" formControlName="field_lengthPackage" class="form-control"
            placeholder="Length">
          <p class="title-form sub-indication text-left">Length (cm)</p>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <input type="date" id="field_delayDate" formControlName="field_delayDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.field_delayDate.errors }">
          <div *ngIf="submitted && f.field_delayDate.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_delayDate.errors.required">Field is required</div>
          </div>
          <p class="title-form sub-indication text-left">Collection Date</p>
        </div>
        <div class="col-md-6">
          <input type="number" id="field_price" formControlName="field_price" class="form-control" placeholder="Price"
            [ngClass]="{ 'is-invalid': submitted && f.field_price.errors }">
          <div *ngIf="submitted && f.field_price.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_price.errors.required">Field is required</div>
          </div>
          <p class="title-form sub-indication text-left">Shipping costs</p>
        </div>
      </div>
      <!-- row-item-->
      <div class="alert alert-warning">
        Note: Additional charges will be added to your price such as 19.25% VAT and 15% for Karryngo service charges!
      </div>
    </div>
    <!-- package image-->
    <app-input-file-upload-list accept="image/png, image/jpeg" #uploadFile label="PARCEL IMAGES">
    </app-input-file-upload-list>

    <!-- row-item-->
    <div class="form-row mb-4 form-group shadow-textarea">
      <label for="descriptionPackage">Description</label>
      <textarea class="form-control field-form2 z-depth-1" id="field_descriptionPackage"
        formControlName="field_descriptionPackage" rows="3"
        placeholder="Tell us a little bit more about your package."></textarea>
    </div>
    <!-- row-footer-->
    <div class="footer-registration text-right">
      <button *ngIf="visible" type="submit" class="btn next-button">
        NEXT
      </button>
    </div>
  </div>
  <app-progress-indeterminate *ngIf="submitted"></app-progress-indeterminate>
</form>