<div class="card-body">
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label for="ccmonth">Country</label>
            <input class="form-control field-form1 col-sm-8" id="country" size="16" type="text"
            placeholder="{{userCountry}}" disabled>
        </div>
        <div class="col-md-4">
            <label for="ccnumber">Amount</label>
            <div class="input-group">
                <input class="form-control field-form1 col-sm-8" id="appendedInput" size="16" type="text"
                    placeholder="00">
                <div class="input-group-append">
                    <span *ngIf="cameroon" class="input-group-text">FCFA</span>
                    <span *ngIf="gabon" class="input-group-text">FCFA</span>
                    <span *ngIf="nigeria" class="input-group-text">NAIRA</span>
                    <span *ngIf="southAfrica" class="input-group-text">RAND</span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <div class="tab">
                <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                    onclick="openTab(event, 'om-select')">
                    <i style="font-size:10px; border: 3px solid;">OM</i>
                    <span>Orange Money</span>
                </button>
                <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                    onclick="openTab(event, 'momo-select')">
                    <i style="font-size:7px; border: 3px solid;">MoMo</i>
                    <span>MTN Money</span>
                </button>
                <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                    onclick="openTab(event, 'paypal')">
                    <i class="fa fa-paypal" style="font-size:24px"></i>
                    <span>Paypal</span>
                </button>
            </div>
            <div id="mastercard-select" class="tabcontent">
                <br><br>
                <h3>Mastercard</h3>
                <div class="card-body text-left">
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'my-account')">
                        <span>My card</span>
                    </button>
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'mastercard')">
                        <span>Other account</span>
                    </button>
                </div>
            </div>

            <div id="visa-select" class="tabcontent">
                <br><br>
                <h3>Visa</h3>
                <div class="card-body text-left">
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'my-account')">
                        <span>My card</span>
                    </button>
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'visa')">
                        <span>Other account</span>
                    </button>
                </div>
            </div>

            <div id="om-select" class="tabcontent">
                <br><br>
                <h3>Orange Money</h3>
                <div class="card-body text-left">
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'my-number')">
                        <span>My number</span>
                    </button>
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'orange-money')">
                        <span>Other number</span>
                    </button>
                </div>
            </div>

            <div id="momo-select" class="tabcontent">
                <br><br>
                <h3>Mobil Moeny</h3>
                <div class="card-body text-left">
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'my-number')">
                        <span>My number</span>
                    </button>
                    <button type="radio" class="btn-pill" onclick="openTab(event, 'mtn-money')">
                        <span>Other number</span>
                    </button>
                </div>
            </div>

            <div id="my-number" class="tabcontent card-body">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>My Contact</h3>
                            <label for="name">Use my phone number</label>
                            <br>{{userPhone}}<br><br>
                            <div>
                                <button class="btn" data-toggle="modal" (click)="myModal.show()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="orange-money" class="tabcontent">
                <br><br>
                <h3>Orange Money</h3>
                <p>Please enter the phone number and submit.</p><br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="om-tel">Phone</label>
                            <input type="tel" class="form-control field-form1" id="om-tel"
                                placeholder="Your Phone number">
                        </div>
                    </div>
                </div>
                <!--/.row-->
                <br><br>
                <div>
                    <button class="btn" data-toggle="modal" (click)="myModal.show()">Submit</button>
                </div>
            </div>
            <div id="paypal" class="tabcontent">
                <br><br>
                <h3>Paypal</h3>
                <form>
                    <input valign="center" type="image" alt="Paiement par Paypal"
                        src=" https://www.paypal.com/fr_FR/i/bnr/horizontal_solution_PP.gif" name="submit"
                        alt="Paiement sécurisé par paypal" />
                </form>
            </div>
            <div id="mtn-money" class="tabcontent">
                <br><br>
                <h3>Mobile Money</h3>
                <p>Please enter the phone number and submit.</p><br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="tel">Phone</label>
                            <input type="tel" class="form-control field-form1" id="tel" placeholder="Your Phone number">
                        </div>
                    </div>
                </div>
                <!--/.row-->
                <br><br>
                <div>
                    <button class="btn" data-toggle="modal" (click)="myModal.show()">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>