<br>
<h4 class="mb-2 text-left title-form">Carriers List available for your request.</h4>
<br>
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>Type</th>
            <th>Driver</th>
            <th>Start Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody
        (click)="showNotification('top','center', 'danger', 'pe-7s-close-circle', '\<b>Sorry\</b>\<br>This service was not available now. Tray later.')">
        <tr>
            <td>car</td>
            <td>Cedric Nguendap</td>
            <td>2021/02/15</td>
            <td>06 : 30 AM</td>
        </tr>
        <tr>
            <td>Bus</td>
            <td>Emmerick </td>
            <td>2021/02/16</td>
            <td>02 : 30 PM</td>
        </tr>
        <tr>
            <td>Bus</td>
            <td>Kamdem</td>
            <td>2021/02/20</td>
            <td>09 : 00 AM</td>
        </tr>
        <tr>
            <td>Car</td>
            <td>Marc Paho</td>
            <td>2021/02/20</td>
            <td>11 : 30 AM</td>
        </tr>
        <tr>
            <td>Bike</td>
            <td>Sanou flambel</td>
            <td>2020/12/30</td>
            <td>06 : 30 AM</td>
        </tr>
    </tbody>
</table>
<nav>
    <ul class="pagination pull-right">
        <li class="page-item"><a class="page-link">Prev</a></li>
        <li class="page-item active">
            <a class="page-link">1</a>
        </li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
</nav>