<app-search-location></app-search-location>

<!-- Start your project here-->
<div class="container text-center c">


  <h1>Cette page represente une page de test permettant juste de pouvoir consulter les modules de KarryNGo</h1>
  <div class="text-left">
    <p>
      <a routerLink="/login">Page de Login</a>
    </p>
    <p>
      <a routerLink="/welcome">Page d'Accueil</a>
    </p>
    <p>
      <a routerLink="/user-registration">User registration</a>
    </p>
    <p>
      <a routerLink="/registration">Register as Carrier/Shipper/Transporter</a>
    </p>
    <p>
      <a routerLink="/post-request">Post request</a>
    </p>
    <p>
      <a routerLink="/post-request-colis-1">Post request colis</a>
    </p>
    <p>
      <a routerLink="/post-request-transport-1">Post request transport</a>
    </p>
    <p>
      <a routerLink="/post-trip-carrier-shipper-1">Post Trip carrier shipment</a>
    </p>
    <p>
      <a routerLink="/post-trip-transport">Post Trip transport</a>
    </p>
    <p>
      <a routerLink="/profie-carrier">Profile carrier</a>
    </p>
    <p>
      <a routerLink="/profie-carrier-business">Profile carrier business</a>
    </p>
    <p>
      <a routerLink="/profie-normal-user">Normal Profile user</a>
    </p>
    <p>
      <a routerLink="/view-trip-carrier-shipment">View trip carrier shipment</a>
    </p>
    <p>
      <a routerLink="/view-trip-transport-of-person">View trip transport of persons</a>
    </p>
  </div>
</div>
<app-search-location></app-search-location>

<input type="file" #fileupload (change)="fileUpload($event)">
<!-- Start your project here-->

<app-front-footer></app-front-footer>
