<div class="animated fadeIn">
  <hr size="3px">
  <h3 class="text-center mx-4" style="color: rgba(87, 60, 20, 0.968);">Your purchases</h3>
  <hr size="3px">
  <div class="row">
      <div class="col-sm-3 order-xl-1">
          <div class="card">
              <div class="card-header linear-gradient">
                  <h3 class="text-center mx-4 mb-2">
                      5000 Coins</h3>
              </div>
              <div class="card-body text-center">
                  purchase day: 20/06/2021 <br>
                  <b>10 days</b><br>
                  sale day: 20/06/2021
              </div>
              <div class="card-footer">
                  <h3 class="text-center mx-4 mb-2">
                      On market</h3>
              </div>
          </div>
      </div>
      <div class="col-sm-3 order-xl-1">
          <div class="card">
              <div class="card-header linear-gradient">
                  <h3 class="text-center mx-4 mb-2">
                      2000 Coins</h3>
              </div>
              <div class="card-body text-center">
                  purchase day: 20/06/2021 <br>
                  <b>20 days</b><br>
                  sale day: 30/06/2021
              </div>
              <div class="card-footer">
                  <h3 class="text-center mx-4 mb-2">
                      On market</h3>
              </div>
          </div>
      </div>
  </div>
</div>