<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-3 order-xl-1">
        <div class="card">
          <div class="card-header linear-gradient">
            <h3 class="text-left mx-4 mb-2">
              Coin Balance</h3>
          </div>
          <div class="card-body text-center">
            <div class="chart-wrapper">
              <h3 class="mx-4 m-5">000</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 order-xl-1">
        <div class="card">
          <div class="card-header linear-gradient">
            <h3 class="text-left mx-4 mb-2">
              Bonus Balance</h3>
          </div>
          <div class="card-body text-center">
            <div class="chart-wrapper">
              <h3 class="mx-4 m-5">000</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 order-xl-1">
        <div class="card">
          <div class="card-header linear-gradient">
            <h3 class="text-left mx-4 mb-2">
              Coin to Sale</h3>
          </div>
          <div class="card-body text-center">
            <div class="chart-wrapper">
              <h3 class="mx-4 m-5">000</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 order-xl-1">
        <div class="card">
          <div class="card-header linear-gradient">
            <h3 class="text-left mx-4 mb-2">
              Social Group</h3>
          </div>
          <div class="card-body text-center">
            <div class="chart-wrapper">
              <h3 class="mx-4 m-5">000</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>