<!-- Package Details-->
<h4 class="mb-2 text-center title-form"><b> <u>Confirm Payment</u></b></h4>
<!-- row-item-->
<br><font size=3>Dear user, the sum of <font size=3> <b><u>{{amount}}</u> {{currency}} </b></font>will be debited from your account for this transport.
 Please confirm to allow the transporter to start the service.</font>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="myModal.hide()"
    style="background-color: red !important;">Cancel</button>
  <button type="button" class="btn btn-success" style="background-color: green !important;"
    (click)="accept();myModal.hide()">Confirm</button>
</div>