<!-- Package Details-->
<h4 class="mb-2 text-center title-form"><b> <u>Transport</u></b></h4>
<!-- row-item-->
<br>
<div class="modal-footer">
  <button type="button" [disabled]="transportStart" class="btn btn-danger" (click)="startTransport()"
    style="background-color: orange !important;">Start</button>
  <button type="button" [disabled]="!transportStop" class="btn" style="background-color: red !important;"
    (click)="endTransport()">Stop</button>
  <button type="button" [disabled]="!transportEnd" class="btn btn-success" style="background-color: green !important;"
    (click)="endTransport()">End</button>
</div>