<app-nav-bar></app-nav-bar>

<!-- Start your project here-->
<div class="container container-global cont-margin text-center">
  <h3 class="jaune text-left mb-2">Trip details</h3>

  <div class="border  container cont2">
    <!-- Default form register -->
    <form class="text-center p-2">
      <!-- row-item-->
      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="From">
          <p class="title-form sub-indication text-left">Departure city</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field" placeholder="To">
          <p class="title-form sub-indication text-left">Arrival city</p>
        </div>
      </div>
      <!-- row-item-->

      <!-- row-item-->
      <div class="form-row m2">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Date">
          <p class="title-form sub-indication text-left">Date</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <select class="form-control field-form1 field">
            <option selected>VIP Location</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <!-- row-item-->

    </form>
    <!-- Default form register -->
  </div>

  <!--container 2-->
  <div class="border  container cont3">
    <!-- Default form register -->
    <form class="text-center p-2">

      <!-- row-item-->
      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <select class="form-control field-form1 field">
            <option selected>Select a Car</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <p class="title-form sub-indication text-left">Car must be add via and validated by us to appear here</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Total number of seats">
        </div>
      </div>
      <!-- row-item-->

      <!-- row-item-->
      <div class="form-row m2">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Free seat">
          <p class="title-form sub-indication text-left">Seats which will not be used</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Booked number of seats">
            <p class="title-form sub-indication text-left">Seats already book</p>
        </div>
      </div>
      <!-- row-item-->

      <!-- row-item-->
      <div class="form-row m2">
          <div class="col">
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
              placeholder="Available number of seats">
            <p class="title-form sub-indication text-left">Seats which will not be used</p>
          </div>
          <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
              placeholder="Cost per seat">
              <p class="title-form sub-indication text-left">Seats which will not be used</p>
          </div>
        </div>
        <!-- row-item-->

    </form>
    <!-- Default form register -->
  </div>
  <!--container 2-->

  <!-- row-item-->
  <div class="form-row form-group shadow-textarea">
    <label for="exampleFormControlTextarea6">Special note about this</label>
    <textarea class="form-control field-form6 z-depth-1" id="exampleFormControlTextarea6" rows="3"
      placeholder="Can you share more details about this trip with the users interested."></textarea>
  </div>
  <!-- row-item-->

  <button type="button" class="btn next-button btn-weith">SAVE A TRIP</button>
</div>
<!-- Start your project here-->

<app-footer></app-footer>