<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header linear-gradient">
          <h3 class="text-center mx-4 mb-2">
            Available Packs</h3>
        </div>
        <div class="card-body linear-gradient2">
          <!-- <input (keyup)="searchPack()" [(ngModel)]="search" type="text" class="form-control" placeholder="Search..."> -->
          <form [formGroup]="formFilter" (ngSubmit)="onFilter()">Search... <br>
            <select id="network" formControlName="networkFilter" placeholder="MTN Mobile Money">
              <option value="All" selected>All</option>
              <option value="MTN Money">MTN Mobile Money</option>
              <option value="Orange Money">Orange Money</option>
            </select>
            <!-- <input type="number" formControlName="amountFilter" placeholder="0"> -->
            <i class="action-fa-filter fa fa-search" title="Apply filter" (click)="onFilter()" ></i> 
             <!-- {{ 'DASHBOARD.MARKET.APPLY_FILTER' | translate }} -->
             <i title="Remove filter" class="action-fa-filter fa fa-refresh" (click)="resetFilter()"></i>
             <!-- {{ 'DASHBOARD.MARKET.REMOVE_FILTER' | translate }} -->
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>
                    <b> Network</b>
                    <!-- <div class="row">
                      <div class="col-2"></div>
                      <div class="col-2">
                        <select id="network" placeholder="MTN Mobile Money">
                          <option value="All" selected>All</option>
                          <option value="MTN Money">MTN Mobile Money</option>
                          <option value="Orange Money">Orange Money</option>
                        </select>
                      </div>
                    </div> -->
                  </th>
                  <th>
                    <b>Amount </b>
                    <!-- <div class="row">                    
                      <div class="col-2"><b>Amount </b></div>
                      <div class="col-2"></div>
                    </div> -->
                  </th>
                  <th><b>Period </b></th>
                  <th><b>
                  </b></th>
                </tr>
              </thead>
              <tbody *ngIf="packs.length>0">
  
                <!-- Données Dynamique -->
                <tr *ngFor="let pack of packs">
                  <td> {{pack.user.network}} </td>
                  <td>{{pack.pack.amount}} MC</td>
                  <th><b>
                      <select  [formControl]="pack.selectForm" placeholder="5days">
                        <option *ngFor="let option of gainList" value="{{option.percent}}" selected>{{option.numberOfDay}}days</option>
                      </select></b>
                  </th>
                  <th *ngIf="pack.user.phone == currentUserPhone"><b>
                      <span class="badge badge-info">
                        Yours
                      </span></b>
                  </th>
                  <th *ngIf="pack.user.phone != currentUserPhone" class="buy"><b>
                      <span class="badge badge-success" (click)="show1(pack)">
                        <i class="fa fa-shopping-cart center"></i>.Buy
                      </span></b>
                  </th>
                </tr>
              </tbody>
  
              <tbody *ngIf="packs.length==0">
                <tr>
                  <td colspan="6">
                    <div class="d-flex justify-content-center">
                      <app-spinner></app-spinner>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
          
          <nav>
            <ul class="pagination pull-right">
              <li class="page-item"><a class="page-link">Prev</a></li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>


  </div>
</div>

<div bsModal #firstModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b> WARNING !! </b></h4>
        <button type="button" class="close" (click)="firstModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button><!-- Package Details-->
      </div>
        <div class="modal-body">
          <div *ngIf="hasCurrentPack">
            <b>Are you sure you want to buy this pack ?</b>
            <br>Country: <b>{{currentPack.user.country}}</b>
            <br>Network: <b>{{currentPack.user.network}}</b>
            <br>Amount: <b>{{currentPack.pack.amount}}FCFA</b>
          </div>
          <div class="text-left">By clicking on Pay you will have 5 hours to make the payment to the number indicated.
            After this time, your account will be automatically suspended.</div>
  
        </div>
        <button type="button" class="btn btn-danger" (click)="firstModal.hide()"
          style="background-color: red !important;">Cancel</button>
        <button type="button" class="btn btn-success" style="background-color: green !important;"
          (click)="firstModal.hide();show2()">Pay</button>
      
    </div>
  </div>
</div>

<div bsModal #secondModal="bs-modal" 
(onHide)="ok()"
class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b> payment details </b></h4>
        <button type="button" class="close" (click)="secondModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-container *ngIf="waitForPackOnlineState==false">
        <div class="modal-body">
          <div *ngIf="hasCurrentPack">
            <br>Network: <b>{{currentPack.user.network}}</b>
            <br>Phone: <b>{{currentPack.user.phone}}</b>
            <br>Name: <b>{{currentPack.user.fullName  || 'Not available'}}</b>
            <br>Amount: <b>{{currentPack.pack.amount}}FCFA</b>
          </div>
          
          <div class="text-left">Contact the beneficiary and ask him to confirm the payment in the system.</div>
  
        </div>
        <button type="button" class="btn btn-success" style="background-color: green !important;"
          (click)="secondModal.hide()">OK</button>
      </ng-container>
      <div *ngIf="waitForPackOnlineState==true">
        <div class="d-flex justify-content-center">
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
  </div>
</div>