.bg{
    background-color: #fecd0b3a;
    border-radius: 5px;
    }
    
    
    /* Style the tab content */
    .tabcontent {
        background-color: rgba(249, 240, 224, 0.803) !important;
      }
      
    .card {
        background-color: rgba(233, 231, 220, 0.803) !important;
    }