<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <div class="card"> <br><br><br>
                <h3 class="jaune text-center mx-4 mb-4" style="size: 10px;">
                    Request being processed...
                </h3>
                <br><br><br>
                <app-progress-indeterminate></app-progress-indeterminate>
                <div  style="text-align: center">
                    <button type="button" class="btn btn-weith"
                        style="background-color: rgb(179, 33, 33) !important; color: white !important;">Cancel request</button>
                </div>
            </div>
        </div>
    </div>
</div>
