<!-- <app-nav-bar></app-nav-bar> -->

<!-- Start your project here-->
<div class="container container-global cont-margin text-center">
  <h3 class="jaune text-left mx-4">Trip details</h3>
  <div class="container cont2 mt-4">
    <!-- Default form register -->
    <form class="text-center p-2">

      <!-- row-item-->
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="From">
          <p class="title-form sub-indication text-left">Departure City</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field" placeholder="To">
          <p class="title-form sub-indication text-left">Arrival City</p>
        </div>
      </div>
      <!-- row-item-->

      <!-- row-item-->
      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Date">
          <p class="title-form sub-indication text-left">Date</p>
        </div>
        <div class="col">

        </div>
      </div>
      <!-- row-item-->
    </form>
    <!-- Default form register -->
  </div>
  <button type="button" class="btn next-button btn-weith" routerLink="/post-request-transport-2">Go</button>
</div>
<!-- Start your project here-->

<!-- <app-front-footer></app-front-footer> -->
