<app-header style="background-color: transparent !important;" [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.png', width: 70, height: 50, alt: 'MoMo coin Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo.png', width: 30, height: 30, alt: 'MoMo coin Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" style="font-family: 'Times New Roman', Times, serif; color: black;"
        [routerLink]="['/profil']">{{fullName}}</a>
    </li>
    <li class="nav-item px-3" *ngIf="isAdmin">
      <button class="btn btn-active" [routerLink]="['/admin']" style="background-color: #ed993f;">Admin Panel</button>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <div style="display: none;">
      <div class="nav-item d-md-down-none" id="notifButton">
        <a class="nav-link"  ><i class="icon-bell"></i><span
            class="badge badge-pill badge-danger">{{unreadMessageList.length}}</span></a>
        </div>
    </div>
    <!-- <li class="nav-item dropdown">
      <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span #languageSpan class="flag-icon flag-icon-us"></span> {{defaultLang}}
      </span>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><span class="dropdown-item" (click)="changeLanguage('en')" ><span class="flag-icon flag-icon-us"></span> {{ "LANG.EN" | translate }} </span></li>
        <li><span class="dropdown-item" (click)="changeLanguage('fr')"><span class="flag-icon flag-icon-fr"></span> {{ 'LANG.FR' | translate }}</span></li>
      </ul>
    </li> -->
      <li class="nav-item dropdown" dropdown placement="bottom right">
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger">{{unreadMessageList.length}}</span>

        <a class="dropdown-item" [routerLink]="['/profil']"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting </a>
        <div class="divider"></div>
        <a class="dropdown-item" (onclick)="logOut()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar style="background-color: #313030;" #appSidebar [fixed]="true" [display]="'lg'"
    [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized">
    </app-sidebar-nav>
    <app-sidebar-minimizer style="background-color: #3b3b3d;"></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main  linear-gradient">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu" [routerLink]="['/market']">
        <div class="btn-group" role="group" aria-label="Button group with nested">
          <div class="btn-group">
            <i class="btn fa fa-wallet" style="color: rgb(210, 138, 30);"> Market</i>
          </div>
        </div>
      </li>
      <div class="btn-group ml-auto">
        <a class="btn" (click)="logOut()"><i class="fa fa-sign-out-alt"></i></a>
      </div>
    </cui-breadcrumb>
    <div class="container-fluid">
      <div style="color: #5a4103 !important;">
        <p>
          <font size=6 style=""><strong>1 MoMo Coin = 1 XAF</strong></font>
        </p>
        <p>
          <font size=3 style=""><strong>7 AM - 10 AM / 7 PM - 10 PM</strong></font><br>
          <font size=3 style=""><strong>5days => 20% / 10days => 45% / 20days => 110%</strong></font>
        </p>
      </div>
      <div class="right">
        <br><button class="btn" (click)="refreshFonct()" style="background-color: rgb(236, 156, 18); color: white;">Refresh</button>
        <p>{{todayTime | date:'fullDate'}}</p><strong class="text-right">
            <div id="div_horloge" style="size: 15 !important;"></div>
          </strong>
        <br>
      </div>

      <router-outlet></router-outlet>
      
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
            <div class="list-group-item bg-light text-center font-weight-bold text-muted text-uppercase small">
              Unread ({{unreadMessageList.length}})
            </div>

            <div *ngFor="let projet of unreadMessageList" data-toggle="modal" (click)="showModal(projet)"
              class="list-group-item list-group-item-accent-warning list-group-item-divider">
              <div>
                <i class="fas fa-money-bill"></i> 
                A request to purchase payment for your <strong> {{projet.pack.amount}} MC</strong> pack has been made.
              </div>
            </div>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer style="background-color: white;">
  <span class="ml-auto">&copy; {{year | date: 'yyyy'}} <a href="#"
      style="color: #ed993f;"><strong>MoMo-Coin.</strong></a></span>
</app-footer>


<div bsModal #confirmPayment="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b> payment details </b></h4>
        <button type="button" class="close" (click)="confirmPayment.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!waitResponse">
          <p class="text-left">A request to purchase payment for your {{selectedPack.amount}} MC pack has been made.</p>
          <br>Name: <b>{{selectedUser.fullName}}</b>
          <br>email: <b>{{selectedUser.email}}</b>
          <br>Phone: <b>{{selectedUser.phone}}</b>
          <br>Amount: <b> {{selectedPack.amount}} FCFA</b>
            <div class="text-left">Confirm payment if completed. If not close and wait.</div>
        </div>
        <app-spinner *ngIf="waitResponse"></app-spinner>
      </div>
        
      <button *ngIf="!waitResponse" type="button" class="btn btn-danger" (click)="confirmPayment.hide()"
        style="background-color: rgb(96, 104, 121) !important;">Close</button>
      <button *ngIf="!waitResponse" type="button" class="btn btn-success" style="background-color: green !important;"
        (click)="confirmMessage()">Confirm</button>
        
    </div>
  </div>
</div>