<app-header style="background-color: transparent !important;" [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.png', width: 70, height: 50, alt: 'MoMo coin Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo.png', width: 30, height: 30, alt: 'MoMo coin Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" style="font-family: 'Times New Roman', Times, serif; color: black;"
        [routerLink]="['/profil']">{{userName}}</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="" [routerLink]="['/dashboard']"><i class="icon-bell"></i><span
          class="badge badge-pill badge-danger">0</span></a>
    </li> -->
    <!-- <li class="nav-item d-md-down-none">
      <strong><a class="nav-link" [routerLink]="['/wallet/deposit']">|| {{balence}} {{currency}}</a></strong>
    </li> -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" [routerLink]="['/profil']"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <div class="divider"></div>
        <a class="dropdown-item" (onclick)="logOut()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar style="background-color: #313030;" #appSidebar [fixed]="true" [display]="'lg'"
    [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized">
    </app-sidebar-nav>
    <app-sidebar-minimizer style="background-color: #3b3b3d;"></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main  linear-gradient">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu" [routerLink]="['/market']">
        <div class="btn-group" role="group" aria-label="Button group with nested">
          <div class="btn-group">
            <i class="btn fa fa-wallet" style="color: rgb(210, 138, 30);"> Market</i>
          </div>
        </div>
      </li>
      <div class="btn-group ml-auto">
        <a class="btn" (click)="logOut()"><i class="fa fa-sign-out-alt"></i></a>
      </div>
    </cui-breadcrumb>
    <div class="container-fluid">
      <div style="color: #5a4103 !important;">
        <p>
          <font size=6 style=""><strong>1 MoMo Coin = 1 XAF</strong></font>
        </p>
        <p>
          <font size=3 style=""><strong>10 AM - 12 AM / 06 PM - 08 PM</strong></font>
        </p>
      </div>
      <div class="right">
        <p>{{today | date:'fullDate'}}</p>
        <p> <strong> GMT + 1</strong></p>
        <font size=3 style=""><strong class="col-md-8 text-center"><div id="div_horloge"></div> </strong></font>
        <br>
      </div>
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-list"></i></ng-template>
      </tab>
      <tab>
        <ng-template tabHeading><i class="icon-bell"></i></ng-template>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer style="background-color: white;">
  <span class="ml-auto">&copy; {{year | date: 'yyyy'}} <a target="_blank" href="https://MoMo coin.com"
      style="color: #b48f30;"><strong>MoMo-Coin.</strong></a></span>
</app-footer>
