<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-7">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">Add vehicle for trips</h3>
        </div>
        <div class="card-body">
          <div class="container cont2">
            <form class="text-center p-2">
              <div class="form-row mb-3">
                <div class="col">
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="Brand">
                  <p class="title-form sub-indication text-left">Vehicle Brand</p>
                </div>
                <div class="col">

                  <div class="form-row mb-3">
                    <div class="col">
                      <select class="form-control field-form1 field">
                        <option selected>Vehicle Type</option>
                        <option value="bike">Bike</option>
                        <option value="car">Car</option>
                        <option value="truck">Truck</option>
                        <option value="truck">Coaster</option>
                        <option value="truck">Bus</option>
                      </select>
                      <p class="title-form sub-indication text-left">Vehicle Type</p>
                    </div>
                    <div class="col">
                      <select class="form-control field-form1 field">
                        <option selected>Number of seats</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="70">70</option>
                      </select>
                      <p class="title-form sub-indication text-left">Number of deat</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row-item-->
              <div class="form-row mb-3">
                <div class="col">
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="Departure city">
                  <p class="title-form sub-indication text-left">Departure city</p>
                </div>
                <div class="col">
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="To">
                  <p class="title-form sub-indication text-left">Arrival city</p>
                </div>
              </div>
              <!-- row-item-->

              <!-- row-item-->
              <div class="form-row mb-3">
                <div class="col">
                  <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
                    placeholder="Date">
                  <p class="title-form sub-indication text-left">Date</p>
                </div>
                <div class="col">
                  <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
                    placeholder="Number of seats">
                </div>
              </div>
              <!-- row-item-->


              <!-- row-item-->
              <div class="form-row form-group shadow-textarea m2">
                <label for="exampleFormControlTextarea6">Message</label>
                <textarea class="form-control field-form2 z-depth-1" id="exampleFormControlTextarea6" rows="3"
                  placeholder="Tell us a little bit more about your package and provide us with all specific request"></textarea>
              </div>
              <!-- row-item-->

            </form>
            <button type="button" class="btn next-button btn-weith">GO</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-5">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">
            Vehicles list</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm" (click)="showNotification('top','center', 'danger', 'pe-7s-close-circle', '\<b>Sorry\</b>\<br>This service was not available now. Tray later.')">
            <thead>
              <tr>
                <th>Type</th>
                <th>Date registered</th>
                <th>Brand</th>
                <th>Number of seats</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination pull-right">
              <li class="page-item"><a class="page-link">Prev</a></li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

</div>