<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card"> <br><br><br>
        <h3 class="jaune text-center mx-4 mb-4" style="size: 10px;">
          Do you want to become a parcel carrier?
        </h3>
        <div class="card-body">
          <p class="text-center"><strong>
              To be part of the parcel carriers, you just have to register as such. It's that simple !</strong>
          </p>
          <br><br><br>
          <div style="text-align: center">
            <button
              type="button"
              class="btn btn-weith"
              [routerLink]="['/carrier/be-provider-form']"
              >Become</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


