<form [formGroup]="tripForm" (ngSubmit)="submit()" class="text-center p-1 form-horizontal">

  <div *ngIf="!submitted">
    <!-- Package Details-->
    <h4 class="mb-2 text-left title-form">Details</h4>
    <br>
    <!-- row-item-->
    <div class="card-body">
      <div class="form-group row">
        <div class="col-md-12">
          <input type="text" id="field_passengerName" formControlName="field_passengerName" class="form-control"
            placeholder="Passenger Name" [ngClass]="{ 'is-invalid': submitted && f.field_passengerName.errors }">
          <div *ngIf="submitted && f.field_passengerName.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_passengerName.errors.required">Field is required</div>
          </div>
        </div>
      </div>
      <div class="form-row mb-2">
        <div class="col">
          <app-search-location label="Start location" placeholder="" #fromZone></app-search-location>
        </div>
        <div class="col">
          <app-search-location label="End location" placeholder="" #toZone></app-search-location>
        </div>
      </div>
      <!-- row-item-->
      <div class="form-group row">
        <div class="col-md-3">
          <input type="number" id="field_numberPlace" formControlName="field_numberPlace" class="form-control"
            placeholder="0">
          <p class="title-form sub-indication text-left">Place number</p>
        </div>
        <div class="col-md-3">
          <label for="isUrgent">is urgent</label>
          <input type="checkbox" id="field_isUrgent" formControlName="field_isUrgent" class="form-control checkbox">
        </div>
        <div class="col-md-3">
          <input type="date" id="field_departureDate" formControlName="field_departureDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.field_departureDate.errors }">
          <div *ngIf="submitted && f.field_departureDate.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_departureDate.errors.required">Field is required</div>
          </div>
          <p class="title-form sub-indication text-left">Departure date</p>
        </div>
        <div class="col-md-3">
          <input type="time" id="field_departureTime" formControlName="field_departureTime" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.field_departureTime.errors }">
          <div *ngIf="submitted && f.field_departureTime.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_departureTime.errors.required">Field is required</div>
          </div>
          <p class="title-form sub-indication text-left">Departure time</p>
        </div>
      </div>
      <!-- row-item-->
      <div class="form-row mb-4 form-group shadow-textarea">
        <label for="tripDescription">Description</label>
        <textarea class="form-control field-form2 z-depth-1" id="field_tripDescription"
          formControlName="field_tripDescription" rows="3"
          placeholder="Tell us a little bit more about your Trip."></textarea>
      </div>
      <div class="form-group row align-content-md-center">
        <div class="col-md-4"></div><div class="col-md-4">
          <input type="number" id="field_price" formControlName="field_price" class="form-control" placeholder="Price"
            [ngClass]="{ 'is-invalid': submitted && f.field_price.errors }">
          <div *ngIf="submitted && f.field_price.errors" class="invalid-feedback text-danger">
            <div *ngIf="f.field_price.errors.required">Field is required</div>
          </div>
          <p class="title-form sub-indication text-left">Transport costs</p>
        </div>
      </div>
      <div class="alert alert-warning">
        Note: Additional charges will be added to your price such as 19.25% VAT and 15% for Karryngo service charges!
      </div>
    </div>
  </div>
  <app-progress-indeterminate *ngIf="submitted"></app-progress-indeterminate>
</form>